:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #242424;
  --color-gray-light: #d8d9d9;
  --color-green: #4ee1a0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1024px;
  font-family: "Space Grotesk Medium", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: auto;
  background-color: #000;
  color: var(--color-white);
}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.heading-xl {
  font-size: 80px;
  letter-spacing: -2.5px;
  line-height: 88px;
  font-family: "Space Grotesk Bold", sans-serif;
}

.heading-lg {
  font-size: 48px;
  letter-spacing: -1.5px;
  line-height: 56px;
  font-family: "Space Grotesk Bold", sans-serif;
}

.heading-md {
  font-size: 24px;
  line-height: 32px;
  font-family: "Space Grotesk Bold", sans-serif;
}

.container,
.container-fixed {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.btn {
  min-width: 175px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.4s;
  height: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary,
.btn-primary a {
  color: #fff;
  background-color: #000;
  border-color: #495fef;
}

.round-pill {
  border-radius: 50rem;
}
